body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.form-label {
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 30%;
}

#senha_gerada {
    width: 100%;
}

/* Adicionando margem superior aos selects */
select {
    margin-top: 10px;
}