/* Estilos para o cabeçalho */
header {
    background-color: #2e6476; /* Cor de fundo azul */
    padding: 20px;
    color: #fff; /* Cor do texto branco */
}

.logo {
    margin-left: 20px; /* Margem à esquerda para o logo */
}

/* Estilos para as abas */
.nav-tabs {
    background-color: #f8f9fa; /* Cor de fundo cinza claro */
    border-bottom: 1px solid #dee2e6; /* Borda inferior cinza */
    margin-top: 20px; /* Margem superior */
}

.nav-link {
    color: #2e6476; /* Cor do texto azul */
    font-weight: bold; /* Texto em negrito */
}

.nav-link.active {
    background-color: #2e6476; /* Cor de fundo azul para aba ativa */
    color: #fff; /* Cor do texto branco para aba ativa */
}

/* Estilos para o conteúdo das abas */
.tab-content {
    padding: 20px; /* Espaçamento interno */
}

.tab-pane {
    display: none; /* Oculta o conteúdo das abas */
}

.tab-pane.show {
    display: block; /* Mostra o conteúdo da aba ativa */
}